<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Background | GreenRater</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/svg+xml" href="static/images/GreenRaterIcon.svg">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

</head>

<div class="navbar">
    <a href="/" style="float:left;padding:0;">
        <h1>GreenRater</h1>
    </a>
    <a href="#home">Home</a>
    <a href="portfolio">Portfolio</a>
    <div class="dropdown">
        <button class="dropbtn">Portfolio Drop
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Home</a>
            <a href="#">Link 2</a>
            <a href="#">Sources</a>
        </div>
    </div>
</div>

<body>
    <div class="heading">
    <h1>Background</h1>
   <i><p>Learn About the Context of Greenspace Planning</p></i>
    <br>
    </div>

    <div class="content-page">
        <div class="content-section-green">
            <div class = "wide-content-center">
            <h1>What is a Greenspace?</h1>
            <p>A piece of land with the majority of its area dedicated to vegetation, typically situated in central regions of a community.</p>
            </div>
        </div>

        <div class="content-section">
            <div class="content-left">
                    <h1>Calculation</h1>
                    <h2>How We Calculate the GreenRater Score</h2>
                    <p>The final GreenRater score is based on a weighted criteria. <a href="process">Learn More</a></p>
            </div>

            <div class="content-right">
                <div class="center-img">
                    <img src="static/images/GreenspaceEvaluationCriteria.png" alt="Greenspace Evaluation Score"width="400px">
                </div>
            </div>
        </div>

        <div class="content-section-green">
            <div class = "wide-content-center">
            <h1>Why are Greenspaces Important?</h1>
            <p>As harbors of low-cost recreational activity, greenspaces often serve as places of health, social, and environmental havens in commmunities.</p>
            </div>
        </div>

        <div class="content-section-green">
            <div class = "wide-content-center">
            <h1>The Problem</h1>
            <p>Greenspace maintenance can be a tedious and expensive process and therefore is often disregarded. However, when greenspaces are not adequately evaluated, their quality, and thus benefits lessen. To combat this issue, GreenRater aims to use existing geospatial knowledge & community input to develop a throrough yet efficient criteria to evaluate Fulton County’s greenspaces.</p>
            </div>
        </div>


        

    </div>



</body>

</html>

