<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process | GreenRater</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<div class="navbar">
    <a href="/" style="float:left;padding:0;">
        <h1>GreenRater</h1>
    </a>

    <a href="#home">Home</a>
    <a href="#news">Portfolio</a>

    <div class="dropdown">
        <button class="dropbtn">
            Portfolio Drop
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
            <a href="research-poster">Research Poster</a>
            <a href="#">Link 2</a>
            <a href="#">Sources</a>
        </div>
    </div>
</div>

<body>

    <div class="heading">
        <h1>Process</h1>
        <p>GreenRater's Production Process</p>
    </div>
    
    <div class="content-page">
        <div class="content-section">
            <div class="content-left">
            <h1>Ideation</h1>
            <h2>Developing a Concept (November)</h2>
            <p>GreenRater is a continuation from a 2023 project titled <b>ParkSpot</b> which allowed users to view a database of local greenspaces in their area. However, instead of a simple database, GreenRater's purpose was to transform existing research into a multi-facted digital tool. </p>
            </div>

            <div class="content-right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VE72CwA0czY?si=L_X0B_VHMR6slDlD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>PocketPark Prototype Presentation</h3>
            </div>
        </div>

        <div class="content-section">
            <div class ="content-right">
                <h1>Method Selection</h1>
                <h2>Selecting the Best Method (December)</h2>
                <p>To implement GreenRater's concept, I first needed to establish a guiding method for my research. Based on conversations with mentors and professionals in urban design space, I decided that content analysis and a digital prototype fit my project requirements the best.</p>
            </div>
        </div>

        <div class="content-section">
            <div class = "content-left">
                <h1> Source Collection</h1>
                <h2>Preparing for Content Analysis</h2>
                <p>I then started to collect my 60 sources needed for my content analysis. These greenspace-evaluation sources ranged from governmental information pamphlets to case studies using certain geospatial tools to broader academic texts about the evaluation process. </p>
            </div>

            <div class = "content-right">
                <div class="general-button">
                    <a href ="#">
                        15 Sources
                    </a>
                </div>
                <div class="general-button">
                    <a href ="#">
                        Final 60 Sources
                    </a>
                </div>

            </div>
        </div>

    </div>





</body>

</html>