<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process | GreenRater</title>
    <link rel="icon" type="image/svg+xml" href="static/images/GreenRaterIcon.svg">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<div class="navbar">
    <a href="/" style="float:left;padding:0;">
        <h1>GreenRater</h1>
    </a>
    <a href="index">Home</a>
    <a href="portfolio">Portfolio</a>
</div>

<body>

    <div class="heading">
        <h1>Process</h1>
        <p>GreenRater's Production Process</p>
    </div>
    
    <div class="content-page">

        <div class="content-section-green">
            <div class="wide-content-center">
            <h1>The Hypothesis</h1>
            <h2>How can we use digital tools to create a geospatial-based criteria to evaluate Fulton County's greenspaces?</h2>
            </div>
        </div>

        <div class="content-section">
            <div class="content-left">
            <h1>Ideation</h1>
            <h2>Developing a Concept (November)</h2>
            <p>GreenRater is a continuation from a 2023 project titled <b>ParkSpot</b>, a website allowed users to view a database of local greenspaces in their area. Building on this strong foundation, the project's goal shifted from simple data presentation to utilizing data insights to build an impactful multi-functional digital tool. </p>
            </div>

            <div class="content-right">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VE72CwA0czY?si=L_X0B_VHMR6slDlD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <h3>PocketPark Prototype Presentation</h3>
            </div>
        </div>

        <div class="content-section">
            <div class ="content-right">
                <h1>Method Selection</h1>
                <h2>Selecting the Best Method (December)</h2>
                <p>Based on guidance from mentors and professionals in urban design space, content analysis and a digital prototype were the two methods chosen to direct GreenRater's development.</p>
            </div>
        </div>

        <div class="content-section">
            <div class = "content-left">
                <h1>Source Collection</h1>
                <h2>Preparing for Content Analysis</h2>
                <p>In the Source Collection stage, a total of 60 diverse sources were selected for further analysis. These greenspace-evaluation texts ranged from governmental information pamphlets to case studies using certain geospatial tools to broader academic pieces about the evaluation process. </p>
            </div>

            <div class = "content-right">
                <div class="general-button">
                    <a href ="https://docs.google.com/document/d/1S62c7gec2l0jXjdDTgJ3hyM2SFLuiMKb0KLHOBjBJeI/edit?usp=sharing"  target="_blank">
                        15 Sources
                    </a>
                    <a href ="https://docs.google.com/spreadsheets/d/18kwbghl7PEQe7uJiHDS4AFX0WIIC8-blKxl0wpkN-os/edit?usp=sharing"  target="_blank">
                        Final 60 Sources
                    </a>
                </div>

            </div>
        </div>

        <div class="content-section">
            
            <div class="content-left">
                <img src="static/images/sqlimages.png" alt="Image of MySQL Logo" height="300px">
            </div>
            <div class="content-right">
                <h1>Content Analysis</h1>
                <h2>Analyzing 60 Sources</h2>
                <p>Using SQL, all selected sources were categorized by findings, geospatial tools, topic, and criteria category. This process allowed for more accurate pattern recognition of successful greenspace evaluation metrics among the texts.</p>
            </div>
  

        </div>

        <div class="content-section">
            <div class="content-right">
                <h1>Community Survey</h1>
                <h2>Dissecting Alpharetta's Greenspace Sentiment</h2>
                <p>To incorporate community input into this project iteration, 45+ responses were collected from local Fulton County residents. These responses enabled our team to analyze local sentiment on the current state of Fulton County’s greenspaces and community needs. Questions evaluated the frequency and quality of greenspace visits as well as inquired for any current issues.</p>
            </div>

            <div class="content-left">

                <div class="general-button">
                    <a href  ="https://form.jotform.com/253222942486056" target="_blank">
                        Community Survey
                    </a>


                    <a href ="#"  target="_blank">
                        Survey Results
                    </a>

                </div>

            </div>
    
        </div>

        <div class="content-section">
            
            <div class="content-left">
                <img src="static/images/GreenspaceEvaluationCriteria.png" alt="Image of Greenspace Evaluation Criteria" height="300px">
                <h3>Greenspace Evaluation Criteria</h3>
            </div>
            <div class="content-right">
                <h1>Final Criteria</h1>
                <h2>Using and Evaluating Results</h2>
                <p>The final GreenRater scoring model is based on a five-category weighted system, combining: <li>65% community input</li> <li>35% research-based findings</li><br> This approach ensures the scoring system is both evidence-based and reflective of real user experiences.</p>
            </div>

  

        </div>
<div class="content-section-green">
            <div class="wide-content-center">
            <h1>Prototyping</h1>
            </div>
</div>
        <div class="content-section">
            <div class="content-left">
            <h1>Prototype #1</h1>
            <h2>CLI-Based Python Prototype (Feburary)</h2>
            <p> The initial version of GreenRater was a simple command-line Python application that prompting users for input and calculated a final GreenScore. While it satisfied project's functional requirements, this iteration's UI and UX could be greatly improved</p>
            </div>

            <div class="content-right">
                <img src="static/images/GreenspaceEvaluationCriteria.png" alt="Image of MySQL Logo" height="300px">                <h3>PocketPark Prototype Presentation</h3>
            </div>
        </div>

        <div class="content-section">
            <div class="content-left">
            <h1>Prototype #2</h1>
            <h2>HTML & Flask-Based Website (March) - Current Iteration</h2>
            <p>In the current 2nd iteration, this project evolved into a Flask-based web application, specifically improving user interface, accessibility, and data storage capabilities. 
                This application also integrates a MySQL database, creating ongoing storage of ratings which will allow for more long-term data analysis. </p>
            </div>

            <div class="content-right">
                <img src="static/images/GreenRaterScreenshot.PNG" alt="Image of GreenRater home screen">
                <h3>GreenRater Home Screen</h3>
            </div>
        </div>

    
    <div class="general-button">
        <a href="research-poster">
            Research Poster
        </a>
    </div>

    <div class="content-section-green">
        <div class="wide-content-center">
            <h1>Reflection</h1>
            <h2>Reflecting on the Research Processs</h2>
        </div>

        <div class="content-right-green">
            <iframe height="300px" width="600px" src="https://www.youtube.com/embed/gfec78Uol-A?si=68NJDkyGmxFti5i5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </div>


    </div>





</body>

</html>